@model CustomerPortal.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Set Password";
}
<div style="padding-top: 30px">
    <div class="text-white" style=" background-color: rgb(54, 66, 71); width: 700px;border-radius: 10px; margin: 0 auto">
        <button type="submit" class="btn btn-secondary btn-lg" onclick="history.back()"style=";text-align: center; margin-left: 5%;margin-top: 5%">
            <i class="fa fa-arrow-left" style="padding-right:10px;"></i>Back</button>
        <h1 style="text-align: center;padding-top: 20px">@ViewData["Title"]</h1>
        <form asp-action="NewPassword" style="width: 500px; padding: 20px;margin: 0 auto">
            <h3>Create New Password:</h3>
                
            <input type="hidden" asp-for="LoginID"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PasswordHash"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div style="padding-top: 20px" \>
                <label asp-for="OldPassword" class="control-label">Current Password:</label>
                <p>
                    <input asp-for="OldPassword" type="password" name="OldPassword" id="OldPassword" class="password-form" />
                    <i class="bi bi-eye-slash fa-lg password-icon" id="toggleOldPassword" style="color:black;"></i>
                </p>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
                
            <div style="padding-top: 20px" \>
                <label asp-for="NewPassword" class="control-label">New Password:</label>
                <p>
                    <input asp-for="NewPassword" type="password" name="NewPassword" id="NewPassword" class="password-form" />
                    <i class="bi bi-eye-slash fa-lg password-icon" id="toggleNewPassword" style="color:black;"></i>
                </p>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
                
            <div style="padding-top: 20px" \>
                <label asp-for="ConfirmPassword" class="control-label">Confirm New Password:</label>
                <p>
                    <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" class="password-form"/>
                    <i class="bi bi-eye-slash fa-lg password-icon" id="toggleConfirmPassword" style="color:black;"></i>
                </p>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
                
            <div style="padding-top: 30px;text-align: center">
                <button type="submit" class="btn log-in-button btn-lg" style="width: 150px;text-align: center">
                    Submit <i class="fa fa-check" style="padding-left:10px;"></i>
                </button>
            </div>

        </form>
    </div>
</div>

<script>

        const toggleOldPassword = document.querySelector("#toggleOldPassword");
        const oldPassword = document.querySelector("#OldPassword");

        const toggleNewPassword = document.querySelector("#toggleNewPassword");
        const newPassword = document.querySelector("#NewPassword");

        const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
        const confirmPassword = document.querySelector("#ConfirmPassword");


        toggleOldPassword.addEventListener("click", function () {
            const type = oldPassword.getAttribute("type") === "password" ? "text" : "password";
            oldPassword.setAttribute("type", type);
            this.classList.toggle("bi-eye");
        });
        toggleNewPassword.addEventListener("click", function () {
                    const type = newPassword.getAttribute("type") === "password" ? "text" : "password";
                    newPassword.setAttribute("type", type);
                    this.classList.toggle("bi-eye");
                });
        toggleConfirmPassword.addEventListener("click", function () {
                    const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
                    confirmPassword.setAttribute("type", type);
                    this.classList.toggle("bi-eye");
                });
 
</script>
    