@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;

}

.navbar {
  height: 100px;
  width: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #1a1e21;;
  font-family: Verdana, serif;
}

.log-in-button{
  background-color: rgb(234, 46, 46);
  text-align: center;
  border-radius: 5px;
  height: 50px;
  font-weight:500;
  width: fit-content;
  color: white;
  border: none;
}
.log-in-button:hover{
  background-color: white;
  color: black;
}
.home-image {
  height: 480px;
  object-fit: cover;
  position: absolute;
  margin-top: -15px;
  width: 130%;
  margin-left: -15%;
}

.home-content-box {

  background-color: #252525;
  width: 100%;
  box-shadow: 0px 4px 4px #00000060;
  padding: 40px 20px 20px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.home-title {
  display:flex;
  left: 5%;
  background-color: rgb(54, 66, 71);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
  border-bottom: none;
  /*box-shadow: 0px 4px 4px #00000060;;*/
}

.home-features-box {
  background-color: rgb(54, 66, 71);
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  padding: 40px;
  border-radius: 50px 50px 10px 10px;
}
.landing-image {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: -5;
  height: 100%;
}

.landing-title-text {
  color: white;
  padding-right: 18%;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 50%;
  padding-top: 10%;
}

.logo-image {
  width: 400px;
  height: 80px;
  overflow: hidden;
}

.form-group {
  margin: 0 auto;
  width: 80%;
  height: max-content;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
tr.spaceUnder>td {
  padding-bottom: 50px;
}

.transaction-button {
  padding-top: 3%;
  background-color: coral;
  font-weight: bold;
  color: white;
}

.transaction-button:hover {
  color: black;
}

.profile-box{
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
  border-radius: 10px;
}
.account-icon{
  font-size:64px;
  width: 70px;
  height: 60px;
  margin-top: 5px
}
.profile-form{
  height: 50px;
  border-color: #dde0e3;
  border-radius: 10px;
}
.password-form{
  height:50px;
  width:100%;
  border-radius: 10px;
  padding-left: 20px
}
.password-icon{
  margin-left: -40px;
  cursor: pointer;
}
.confirmation-table {
  width: 40%;
  height: 250px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  border-radius: 20px;
  box-shadow: #5c636a;
}
.confirmation-btn, .confirmation-btn:hover{
  width: 100px;
  text-align: center;
  text-decoration: none
}

.statement-table {
  color: white;
  /*margin-top: 10%;*/
  margin-right: auto;
  margin-left: auto;
  width: 100%
}

.statement-table-data {
  width: 40%;
}